    #visaoGeral {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }

    .esquerda {
        width: 50%;
        float: left;
        padding: 10px;
    }

    .direita {
        width: 50%;
        float: left;
        padding: 10px;
    }